.bod {
    padding: 10px;
}
.topbod{
    padding-top: 10px;
}

#orderbox{
    visibility: hidden;
}

#menubox{
    visibility: hidden;
}

#limitbox{
    visibility: hidden;
}

#profitbox{
    visibility: hidden;
}

.scrolling{
    background-color: lightcyan;
    border: 1px solid black;
    max-height: 75vh;
    max-width: 30vw;
    overflow: auto;
    float: left;
}
.profButPosition{
    top: 300px;
    position: absolute;
}