.bod {
    padding: 10px;
}
.topbod{
    padding-top: 10px;
}

#orderbox{
    visibility: hidden;
}

#menubox{
    visibility: hidden;
}

#limitbox{
    visibility: hidden;
}

#profitbox{
    visibility: hidden;
}

.scrolling{
    max-height: 600px;
    overflow: auto;
}
.profButPosition{
    top: 300px;
    position: absolute;
}