body {
    background-image :url("/images/databank_mustafar_01_169_5b470758.jpeg");
    background-size:cover;
}

.but1{
    width: 200px;
    height: 60px;
}
.but2{
    width: 200px;
    height: 60px;
}

#buttons{
    padding-left: 50vw;
    padding-top: 50vh;
    margin: auto;
}f