body {
    background-image :url("/images/databank_mustafar_01_169_5b470758.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
}

.whiteText{
    color: white;
}

#hoursOperation{
    text-align: right;
}

.withMargin{
    margin-top: 100px;
}

#loginWindow{
    align-content: center;
    top: 35%;
}
#uName{
    padding: 5px;
}

#passC{
    padding: 5px;
}