.foodPanel{
    top: 10px;
}

body{
    background: url(../images/lavaBackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: static;
    z-index: -1;

}

.headingColor{
    color: white;
}

#itemContainer{
    /*background: url(../images/lavaBackground2.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*position: absolute;*/
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 50px;
}