#bgContainer{
    background-image :url("/images/databank_mustafar_01_169_5b470758.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: -10;
    top:5px;
    width: 100vw;
    height: 100vh;
}

.whiteText{
    color: whitesmoke;;
}